@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300;400;500;600;700&family=Hanken+Grotesk:wght@300;400;500;600;700&display=swap');
*{

    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Hanken Grotesk;
  


}



:root{
    --primary-color:#fb995d;
    --primary-color-bright:#fe7727;
    --white-color:#fff;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: Chivo Mono;
}
h1{
    font-size: 2.5rem;
}
@media screen and (max-width:768px){
    h1{
        font-size: 1.6rem;
    }  
}
@media screen and (max-width:768px){
    h3{
        font-size: 0.8rem;
    }  
}
@media screen and (max-width:768px){
    h2{
        font-size: 1rem;
    }  
}
.container{
    width:90%;
    margin:auto;

}

.span{
    font-family: Chivo Mono;
}
.flex { display:flex;}

.justify-center{justify-content: center;}

.justify-between{justify-content: space-between;}

.align-center{align-items: center;}

.text-primary{color:var(--primary-color)}

.button-primary{
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--primary-color-bright);
    color: #fff;
    text-decoration: none;
    margin-top: 2rem;
    box-shadow: 2px 2px 5px #ddd;
    transition: 0.2s ease-in;
    border: none;
    font-family: Chivo Mono;
    font-size: 1rem;
    
}

.button-primary:hover{
    background-color: #222;
}
@media screen and (max-width:768px){
    p{
        font-size: 0.7rem;
    }  
}
@media  screen and (max-width:768px) {
    .button-primary{
        display: inline-block;
        padding: 0.5rem 1rem;
        background-color: var(--primary-color-bright);
        color: #fff;
        text-decoration: none;
        margin-top: 1rem;
        box-shadow: 1px 1px 3px #ddd;
        transition: 0.2s ease-in;
        border: none;
        font-family: Chivo Mono;
        font-size: 0.5rem;
        
    }
}